
.thumbnail img {
    height:400px;
    width:100%;
}
.thumbnail 
 { padding :0;
 }

 .thumbnail
 {
 	padding-top: 6px;
 	padding-bottom :6px;
 	padding-left: 6px;
 	padding-right: 6px;
 }
 #noice
 {
 	display: inline;
 }